<a href="https://colab.research.google.com/github/sukjin1/ed/blob/main/quotient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("왕초보파이썬")

왕초보파이썬

In [2]:
jjang = "pig dad" # 전역변수

def ban():
    jjang='07'
    print('jjang=', jjang)

ban()
print(jjang)

jjang= 07
pig dad

In [7]:
a = (lambda x,y,z: x+y+z)(10, 20, 30)
print(a)

60

In [12]:
a = map(lambda x:x**2, range(5))
print(int(a))

TypeError: ignored

In [15]:
list(filter(lambda x: x%3, range(10)))

[1, 2, 4, 5, 7, 8]

In [18]:
 "   13:48:03   ".strip()

'13:48:03'

In [ ]:
def read(text):

    text_list = text.split(':')

    ridename = text_list[0]
    if len(text_list) > 1:
        second_text_list = text_list[1].split("cm")
        if len(second_text_list) > 1 
            cmmin = second_text_list[0]
            

    return ridename, cmmin, cmmax

In [20]:
type(range(10))

range

In [19]:
def read(text):
    ridename, limit = map(str.strip, text.split(':'))
    
    cmmin = cmmax = None
    if '~' in limit:
        templist = []
        for x in limit.split('~'):
            templist.append(x.replace('cm', ''))
        cmmin, cmmax = templist[0], templist[1]
    elif "이상" in limit:
        cmmin = int(limit.split("cm")[0])

    return ridename, cmmin, cmmax

if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)

기구이름:134cm~234cm
이름: 기구이름
하한: 134
상한: 234

In [22]:
class Counter:
    def __init__(self, stop):
        self.current = 0    # 현재 숫자 유지, 0부터 지정된 숫자 직전까지 반복
        self.stop = stop    # 반복을 끝낼 숫자
 
    def __iter__(self):
        return self         # 현재 인스턴스를 반환
 
    def __next__(self):
        if self.current < self.stop:    # 현재 숫자가 반복을 끝낼 숫자보다 작을 때
            r = self.current            # 반환할 숫자를 변수에 저장
            self.current += 1           # 현재 숫자를 1 증가시킴
            return r                    # 숫자를 반환
        else:                           # 현재 숫자가 반복을 끝낼 숫자보다 크거나 같을 때
            raise StopIteration         # 예외 발생
 
a = Counter(3)
print(a)

<__main__.Counter object at 0x7f4e159b78b0>

a = range(10)
type(a)

In [30]:
def sum(a, b, c):
    return a + b + c

sum(*('가', '나', '다')) # '나다가'

'가나다'

In [31]:
100_000_000

100000000

In [36]:
p = 'Python'
p[-1
  ::]

'n'

In [38]:
a = [1,2,3,4,5,6,7,8,9]

print(a[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
if -1: 
    print ("True")

True

In [42]:
fruits = {'apple', 'banana', 'orange'}

In [45]:
for fruit_name in fruits:
    print(fruit_name)

banana
apple
orange

In [51]:
def palindrome(text):
    text = text.lower()
    text = text.replace(" ", "")
    #reverse_text = text.reverse()
    reverse_text = text[::-1]
    if (text == reverse_text):
        return True
    else:
        return False
palindrome('Anna')

True

In [55]:
def sumOfDigits():
    str = input()
    str_list = [int(a) for a in str]
    total = 0
    for i in str_list:
        total = total + i

    print (total)

sumOfDigits()

47253
21

In [56]:
print(list("47253"))

['4', '7', '2', '5', '3']

In [58]:
score = [1,11,14,13]
score = score -  [11,11,13,18]

TypeError: ignored

In [61]:
stem_leaf = [[0,0,2,4,7,7,9],[1,1,3,8],[0]]

for i, ele in enumerate(stem_leaf):
    print (i,":", ele)

0 : [0, 0, 2, 4, 7, 7, 9]
1 : [1, 1, 3, 8]
2 : [0]

In [111]:
num = int(input("숫자를 입력해 주세요"))

num_list = list(range(2,num))
num_list_copy = num_list.copy()

result_list = []
list_length = len(num_list)

while list_length:
    
    result_list.append(num_list[0])

    for i in range(2, len(num_list)):
        if (num_list[i] % num_list[0]) == 0:
            num_list_copy.remove(num_list[i])
            list_length -=1

    print (f"num_list_copy: {num_list_copy}")        
    num_list = num_list_copy.copy()
    first_item =num_list[0]
    num_list.remove(num_list[0])
    num_list_copy.remove(first_item)
    #result_list.append(num_list[0])
    print(f"result_list: {result_list}")
    list_length -=1

    print (f"num_list: {num_list}")        
    
print(result_list)

숫자를 입력해 주세요10
num_list_copy: [2, 3, 5, 7, 9]
result_list: [2]
num_list: [3, 5, 7, 9]
num_list_copy: [3, 5, 7]
result_list: [2, 3]
num_list: [5, 7]
num_list_copy: [5, 7]
result_list: [2, 3, 5]
num_list: [7]
num_list_copy: [7]
result_list: [2, 3, 5, 7]
num_list: []
[2, 3, 5, 7]

In [93]:
a = [1,2,3]
b = a
c = a.copy()

a.pop()

print(a)
print(b)
print(c)

[1, 2]
[1, 2]
[1, 2, 3]

In [89]:
a = [1,2,3]
a.remove(a[0])
print(a)

[2, 3]

In [65]:
a =[1,2,3,4,4,4]
a.remove(4)
print(a)

AttributeError: ignored

In [7]:
num  =  int(input("숫자를 입력해 주세요 "))

binary_val = ""
binary = ""
quotient, remainder = num, None

while quotient:
    quotient, remainder = divmod(quotient, 2)
    print(quotient)
    binary = binary + str(remainder)

print(binary)

숫자를 입력해 주세요 13
6
3
1
0
1011